<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Joe's Website</title>
    <link rel="stylesheet" href = "static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
    <link rel="icon" href="static/favicon.ico">
</head>
<body>
    <div class="top-container">
        <img class="top-cloud" src="static/cloud.png" alt="cloud">
        <div class="title-text">
            <h1>I'm Joe Sherine John Brito.</h1>
            <h2>a Python Developer with Cloud Knowledge</h2>
        </div>
        <img class="bottom-cloud" src="static/cloud.png" alt = "cloud">
        <img class ="mountain" src="static/mountain.png" alt = "mountain">
    </div>
    <div class="middle-container">
        <div class="profile">
            <img src="static/joe_new.jpeg" width=200 alt="Joe's profile pic">
            <h2>Hello.</h2>
            <p class="intro">I am python developer with cloud certifications.I also have experience in SAP ABAP.</p>
        </div>
        <hr>
        <div class = skills>
            <h2>My Skills</h2>
            <div class="skill-row">
                <img class="code-img" src="https://i.giphy.com/LmNwrBhejkK9EFP504.webp" alt ="code-img">
                <h3>Python Developer</h3>
                <p>I am interseted in coding. So I learnt "100 days of code. The complete pro python bootcamp" from udemy  and did lot of projects related to modules like turtle, Tkinter, selenium, Beautiful Soup, Flask, Pandas, Numpy.</p>
            </div>
            <div class="skill-row">
                    <img class="code-img" src="https://cdn.dribbble.com/users/2579950/screenshots/6513091/cloud_400x300.gif" alt ="cloud technology">
                    <h3>AWS Certified</h3>
                    <p>I have done 2 AWS certifications. They are AWS Solution Architect Associate and AWS Developer Associate </p>
            </div>
            <div class="skill-row">
                    <img class="code-img" src="https://media.giphy.com/media/8vXkjPKhbA1JDffr91/giphy.gif" alt ="SAP ABAP">
                    <h3>SAP ABAP Developer</h3>
                    <p>Have worked close to 2 years in SAP ABAP at Accenture.Worked with cross functional team and I have been a wonderful team player.</p>
            </div>
        </div>
        <hr>
        <div class="contact-me">
            <h2>Get In Touch</h2>
            <p class="contact-message">Loved my profile.Please contact me, will discuss more about my python projects</p>
            <a class="btn" href="https://www.linkedin.com/in/joe-sherine-john-brito-816405297/">Contact Me</a>
        </div>
    </div>

    <div class="bottom- container">
        <a class="footer-link" href="https://www.linkedin.com/in/joe-sherine-john-brito-816405297/">LinkedIn</a>
        <a class="footer-link" href="https://github.com/joesherinejohn/python-">GitHub</a>
        <p class="copyright">© 2024 Joe Sherine John Brito.</p>
    </div>
</body>
</html>
